# Data Science Tools ans Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages of Data Science
- Commonly used libraries for Data Science
- Open Source Data Science Tools 
- Executing code in Jupyter Notebooks

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. seaborn

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebooks|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print("200 minutes are")
print(hours)
print("hours")

200 minutes are
3.3333333333333335
hours

## Author
Marc Mozer